
div{
    height: 400px;
    width: 600px;
    border: 2px solid black;
    margin: 5px;

}
#solidBackground{
    background: rgb(255, 255, 12);
}
#imgBackground{
    background: url("../img/angryemoji.webp");
    background-position:center;
    background-size:10%;
    background-repeat: repeat;
}
#gradientBackground{
    background: linear-gradient(blue, red);
    color: white;
}
#radialGradientBackground{
    background: radial-gradient(blue, red);
}
#CustomBackground1{
  
    background-image: linear-gradient(
        45deg,
          hsl(236deg 94% 38%) 0%,
          hsl(281deg 100% 35%) 20%,
          hsl(304deg 100% 35%) 32%,
          hsl(320deg 100% 43%) 39%,
          hsl(330deg 100% 49%) 44%,
          hsl(336deg 100% 50%) 47%,
          hsl(341deg 100% 50%) 50%,
          hsl(7deg 100% 61%) 53%,
          hsl(25deg 100% 55%) 56%,
          hsl(37deg 100% 50%) 61%,
          hsl(45deg 100% 50%) 68%,
          hsl(53deg 100% 50%) 80%,
          hsl(61deg 100% 50%) 100%
        );
}
#CustomImage1{
    background: url("../img/loveemoji.png");
    background-position:left;
    background-size:80%;
    background-repeat: no-repeat;
    opacity: 1; 
    transition: 3s
}
#CustomImage1:hover{
    opacity: 0;
    transition: 3s;

}
