body{
    background-color: rgba(61, 50, 3, 1);
    min-height: 3000px;
}
main{
    background: url(../img/forestbackground.webp);
    background-size: cover;
}
header{
    border: 5px outset gold;
    background: rgba(0, 255, 0, .5);
    color: black;
    font-size: 3em;
    text-align: center;
    margin: 5px;
}
h1{
    margin: 3px;
    background: rgba(7, 127, 3, 0.68);
    color: gold;
    text-align: center;
}
article{
    border: 3px outset gold;
    background: rgba(208, 155, 10, 0.72);
    color: black;
    margin: 5px;
    min-height: 600px;
  
}
nav{
    border: 5px outset gold;
    color: black;
    margin: 5px;
}
.topmaindiv nav{
    background-color: rgba(0, 255, 0, .5);
    
}
.topmaindiv a{
    color: black;
}
.topnav{
    float: top;
    position: sticky;
    text-align: center;
    min-height: 29px;
}
nav a{
    color: goldenrod;
}
nav a:hover{
    background-color: black;
    color:green;
}
.topnav a{
    font-size: 1.5em;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border: 2px outset white;
    

}
.topmaindiv{
    top:0px;
    left:0px;
    right:0px;
    background: url(../img/witchcastle.jpg);
    min-height: 300px;
}
img{
    margin: 5px;
    size: 100px;
}   