body{
    background-color: black ;
    min-height: 3000px;
}
header{
    border: 5px outset gold;
    background-color: rgba(0 255 0 .5);
    color: gold;
    font-size: 3em;
    text-align: center;
    margin: 5px;
}
h1{
    margin: 3px;
    background-color: green;
    color: gold;
    text-align: center;
}
article{
    border: 3px outset gold;
    background-color: burlywood;
    color: black;
    margin: 5px;
    min-height: 600px;
}
nav{
    border: 5px outset gold;
    color: gold;
    margin: 5px;
}
#topmaindiv nav{
    background-color: rgba(0 255 0 .5)
}
.topnav{
    float: top;
    position: sticky;
    text-align: center;
    min-height: 29px;
}
nav a{
    color: goldenrod;
}
nav a:hover{
    background-color: black;
    color:green;
}
.topnav a{
    font-size: 1.5em;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border: 2px outset white;

}
#topmaindiv{
    top:0px;
    left:0px;
    right:0px;
    background: url(../img/witchcastle.jpg);
    opacity:0.5;
    min-height: 300px;
}
img{
    margin: 5px;
    size: 100px;
}   