body{
    display:grid;
    grid-template-areas:
    'header header header header'
    'nav main main main'
    'nav main main main'
    'nav main main main'
    'nav main main main'
    'footer footer footer footer';
    gap: 10px;
    padding: 5px;
    background-color: lightgray;
}
header{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: orange;
    grid-area: header;
}
footer{
    grid-area: footer;
    background-color: black;
    color: orange;
    text-align: center;
}
nav a{
    color: orange;
    text-decoration: none;
    margin: 5px;
    padding: 2px;
    display: block;
}
nav a:hover{
    text-decoration: underline;
    background-color: white;
    border-radius: 5px;
}
nav{
    background-color: black;
    color: orange;
    grid-area: nav;
}
nav h1{
    text-align: center;
    font-size: 1.2em;
    color: orange;
}
main{
    grid-area: main;
    background-color: orange;
}
main h1{
    font-size: 1.5em;
    text-align: center;
}
main img{
    float: left;
    margin: 5px;
}
