header{
    font-size: 2em;
    padding: 5px 50px;
    font-family: papyrus;
    color: orange;
    background: linear-gradient(to right, black 20%, grey);

}
section{
    background-color: rgb(254, 200, 99);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    
}
#demoBox{
    background-color: white;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}
#demoBox div{
    width: 80px;
    height: 80px;
    background-color: blue;
    margin: 5px;
    border-radius: 5px;
    flex: 1;
    min-width: 80px;
    max-width: 150px;
    justify-content: space-evenly;
    align-items: center;
}
#demoBox div.four{
    flex: 4;
    background-color: yellow;
    order: 0;
}
#centerPicture{
    background: tan;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
