body{
    min-height: 3000px;
}
header{
    border: 1px outset black;
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 20px;
    padding: 20px;
    position: sticky;
    background-color: white;
}
main{
    display: flex;
    flex-flow: row wrap;
}
nav{
    background-color: white;
    float: left;
    left: 0px;
    width: 300px;
    bottom: 0px;
    margin-right: 15px;
    border: 1px outset black;
    position: sticky;
    flex: 1;

}
div h1{
    padding: 5px;
    font-size: 1.5em;
    margin: 0px;
    font-weight: normal;
}
div h2{
    padding: 5px;
    font-size: 1em;
}
.maindiv{
    justify-content: space-evenly;
    border: 1px outset black;
    margin: 15px;
    height: 300px;
    width: 300px;
    min-height: 300px;
    min-width: 300px;
    max-height: 300px;
}
div a{
    color: white;
}
div a:hover{
    font-weight: bold;
}
.topdiv{
    height: 75px;
    background-color: green;
}
.middlediv{
    height: 175px;
    border-top: 1px outset black;
    border-bottom: 1px outset black;
}
.bottomdiv{
    height: 25px;
}
.bottomdiv h1{
    text-align: right;
}
nav article{
    border: 1px outset black;

}
nav a{
    display: block;
    padding: 5px;
}