body{
    min-height: 3000px;

  
}
header{
    border: 1px outset black;
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 20px;
    padding: 20px;
    position: fixed;
    background-color: white;
    z-index: 2;
}
main{
    display: flex;
    flex-flow: row wrap;
    margin-top: 65px;
    margin-left: 300px;
}
nav{
    background-color: white;
    float: left;
    left: 0px;
    width: 300px;
    bottom: 0px;
    margin-right: 15px;
    border: 1px outset black;
    position: fixed;
    flex: 1;
    top: 65px;

}
div h1{
    padding: 5px;
    font-size: 1.5em;
    margin: 0px;
    font-weight: normal;
    padding-left: 10px;
}
div h2{
    padding: 5px;
    font-size: 1em;
    padding-left: 10px;
    color: white;
}
div h2:hover{
    text-decoration: underline;
}
div p{
    padding-left: 10px;
}
.maindiv{
    justify-content: space-evenly;
    border: 1px outset black;
    margin: 15px;
    height: 300px;
    width: 300px;
    min-height: 300px;
    min-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    position: relative
}
#profilepic{
    height: 75px;
    width: 75px;
    border-radius: 50px;
    position: absolute;
    top: 40px;
    right: 35px;
   
    border: 1px outset black;
    z-index: 5;
    background-size: contain;
    background-image: url("../img/happyemoji2.png");
}
div a{
    color: white;
    text-decoration: none;
}
div a:hover{
    text-decoration: underline;
}
.topdiv{
    height: 75px;
    background-color: green;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.middlediv{
    height: 175px;
    border-top: 1px outset black;
    border-bottom: 1px outset black;
}
.middlediv p:hover{
    text-decoration: underline;
}
div h3{
    position: absolute;
    top: 5px;
    right: 5px;
}
.bottomdiv{
    height: 25px;
}
.bottomdiv h1{
    text-align: right;
    display: inline;
    float: right;
    margin-right: 5px;
}
.bottomdiv h1:hover{
    background-color: lightgray;
    border-radius: 25px;

}
.middlenavarticle{
    border-top: 1px outset black;
    border-bottom: 1px outset black;
}
nav article{
    padding: 5px;
}
nav a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.25em;
}
#HomeAnav{
    background-color: lightblue;
    border-radius: 30px;
}
nav a:hover{
    background-color: lightgray;
    border-radius: 30px;
}
nav #HomeAnav:hover{
    background-color: lightgray;
    border-radius: 30px;
}
nav article p{
    display: inline;
    margin: 5px;
}